<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/style.css">
    <title>Inicio</title>
</head>
<body>
    <header>
        <iframe src='//gifs.com/embed/mustang-K867lJ' frameborder='0' scrolling='no' width='600px' height='300px' style='-webkit-backface-visibility: hidden;-webkit-transform: scale(1);' ></iframe>
    </header>
    <nav>
        <ul>
            <li>
                <a href="index">Home</a>
            </li>
            <li>
                <a href="listagem">Listagem</a>
            </li>
            <li>
                <a href="detalhes">Detalhes</a>
            </li>
            <li>
                <a href="edicao">Edição</a>
            </li>
        </ul>
    </nav>
    <footer>
        <p>Carros dos Sonhos</p>
    </footer>
</body>
</html>

