<!DOCTYPE html>
<html lang="pt-br" style="overflow: ;">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/style.css">
    <link rel="shortcut icon" type="imagex/png" href="/img/car-small.ico">
    <title>Inicio</title>

</head>
<body>
    <header>
        <nav>
            <a class="botao" href="index">Home</a>
   
            <a class="botao" href="cadastro">Cadastro</a>
            
            <a class="botao" href="listagem">Listagem</a>
   
            <a class="botao" href="detalhes">Detalhes</a>
          
           <a class="botao" href="edicao">Edição</a>
       </nav>
    </header>
    

    <section>
        <h1>Carros dos Sonhos</h1>
        
        <section>
        <article>
            <h2>Sobre o site</h3>
            <p>Todo aficcionado por carros tem sua listinha de máquinas que sonha um dia em ter. Pensando nisso criamos essa 
                página como projeto para conclusão do módulo 2 do curso de desenvolvedor web da Blue Ed Tech.
            Navegue via menu superior para poder cadastrar, alterar ou excluir os carros de sua listagem.</p>
        </article>
    </section>

        <article>
            <h2>Introdução - A história do automóvel</h3>
            <p>Para muitos o primeiro carro foi o Ford modelo T, criando em 1908, por Henry Ford, mas a 
                verdade é que ele foi o primeiro a ser comercializado, ou seja, o primeiro a ser vendido em 
                larga escala.</p>

                <img id="img1" class="img" src="https://corporate.ford.com/content/dam/corporate/us/en-us/images/history/1909-model-t-hero-1440x369-d.jpg" alt="Ford Modelo T" title="Reprodução/Ford">
        </article>
        <article>
            <p>A questão do primeiro automóvel tem vertentes. Uma das vertentes cita como primeiro 
                automóvel o Motorwagem, a invenção patenteada por Karl Benz em 1886, junto com Gottlieb Daimler.</p>

            <img id="img2" class="img" src="https://media.daimler.com/marsMediaSite/scr/1459344842000/7422978v1tv3m3/D182664.jpg" alt="Motorwagem" title="Reprodução/Daimler">
        </article>
        <article> 
            <p>Mas, há a vertente que diz que o primeiro carro do mundo foi a invenção do austríaco Siegfried Marcus, de 1870.
                O veículo contava com motor de combustão interna, fazendo com que se caracterize como automóvel.
                Infelizmente, por causa do regime nazista alemão, em 1940, todas as enciclopédias foram alteradas para que aparecesse como 
                primeiro automóvel a invenção de Gottlieb Daimler e Karl Benz.
                Isso porquê Siegfried era judeu e o regime não iria permitir que um judeu desenvolvesse algo antes dos alemães.
            </p>
            
            <img id="img3" class="img" src="https://t.ctcdn.com.br/vDDPAMS7jo1gQNPCU_lNeiHcLB4=/1024x0/smart/i498329.jpeg" alt="Automóvel de Siegfried Marcus" title="Reprodução/Wikipedia">       
         </article>
    </section>
    <section id="paralax">

    </section>
    
</body>
<footer class="rodape">
    <p>Site criado por Ayrton de Freitas Silva Diniz e Thiago Vieira</p>
    <section class="github">
        <p class="git1"><a class="rodape" target="_blank" href="https://github.com/AyrtonFSDiniz">Github Ayrton</a></p>
        <p class="git2"><a class="rodape" target="_blank" href="https://github.com/thiagovieira7">Github Thiago</a></p>
    </section>
    <p><a class="rodape" target="_blank" href="https://www.audi.com/ci/en/intro/basics.html" >Fonte e icone retirados do site da Audi</a></p>
</footer>
</html>
