<!DOCTYPE html>
<html lang="pt-br" style="overflow: ;">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/style.css">
    <link rel="shortcut icon" type="imagex/png" href="/img/car-small.ico">
    <title>Inicio</title>

</head>
<body id="bodyindex">
    <header>
        <!--<iframe src='//gifs.com/embed/mustang-K867lJ' frameborder='0' scrolling='no' width='600px' height='300px' style='-webkit-backface-visibility: hidden;-webkit-transform: scale(1);' ></iframe>-->
    </header>
    <nav>
         <a class="botao" href="index">Home</a>
         
         <a class="botao" href="listagem">Listagem</a>
           
         <a class="botao" href="detalhes">Detalhes</a>
       
        <a class="botao" href="edicao">Edição</a>
    </nav>

    <section>
        <article>
            <h3>A história do automóvel</h3>
            <p>Para muitos o primeiro carro foi o Ford modelo T, criando em 1908, por Henry Ford, mas a 
                verdade é que ele foi o primeiro a ser comercializado, ou seja, o primeiro a ser vendido em 
                larga escala.</p>

                <img id="img1" class="img" src="https://corporate.ford.com/content/dam/corporate/us/en-us/images/history/1909-model-t-hero-1440x369-d.jpg" alt="Ford Modelo T" title="Reprodução/Ford">
                
                <p>A questão do primeiro automóvel tem vertentes. Uma das vertentes cita como primeiro 
                    automóvel o Motorwagem, a invenção patenteada por Karl Benz em 1886, junto com Gottlieb Daimler.</p>

                <img id="img2" class="img" src="https://media.daimler.com/marsMediaSite/scr/1459344842000/7422978v1tv3m3/D182664.jpg" alt="Motorwagem" title="Reprodução/Daimler">
                
                <p>Mas, há a vertente que diz que o primeiro carro do mundo foi a invenção do austríaco Siegfried Marcus, de 1870.
                    O veículo contava com motor de combustão interna, fazendo com que se caracterize como automóvel.
                    Infelizmente, por causa do regime nazista alemão, em 1940, todas as enciclopédias foram alteradas para que aparecesse como 
                    primeiro automóvel a invenção de Gottlieb Daimler e Karl Benz.
                    Isso porquê Siegfried era judeu e o regime não iria permitir que um judeu desenvolvido algo antes dos alemães.
                </p>
                
                <img id="img3" class="img" src="https://t.ctcdn.com.br/vDDPAMS7jo1gQNPCU_lNeiHcLB4=/1024x0/smart/i498329.jpeg" alt="Automóvel de Siegfried Marcus" title="Reprodução/Wikipedia">
       
         </article>
    </section>
</body>
<footer>
    <p class="rodape"><a class="rodape" target="_blank" href="https://www.audi.com/ci/en/intro/basics.html" >Fonte e icone retirados do site da Audi</a></p>
</footer>
</html>