<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/style.css">
    <link rel="shortcut icon" type="imagex/png" href="/img/car-small.ico">
    <title>Inicio</title>
</head>
<body class="body">
    <header>
        <!--<iframe src='//gifs.com/embed/mustang-K867lJ' frameborder='0' scrolling='no' width='600px' height='300px' style='-webkit-backface-visibility: hidden;-webkit-transform: scale(1);' ></iframe>-->
    </header>
    <nav>
         <a class="botao" href="index">Home</a>
         
         <a class="botao" href="listagem">Listagem</a>
           
         <a class="botao" href="detalhes">Detalhes</a>
       
        <a class="botao" href="edicao">Edição</a>
    </nav>

    <section>
        <article>
            <h3>A história do automóvel</h3>
            <p></p>
        </article>
    </section>
</body>
<footer>
    <p class="rodape"><a class="rodape" target="_blank" href="https://www.audi.com/ci/en/intro/basics.html">Fonte e icone retirados do site da Audi</a></p>
</footer>
</html>